@import 'tailwindcss';

@theme {
  --font-limelight: 'Limelight', 'sans-serif';
  --font-mi-sans: 'MiSans', 'Noto Sans SC', 'sans-serif';
}

@layer base {
  html {
    color-scheme: dark;
    background-color: oklch(14.5% 0 0);
    font-family: var(--font-mi-sans);
    text-rendering: optimizeLegibility;
  }

  body {
    margin: 0;
  }

  ::selection {
    color: #251b28;
    background: #ffd1e6;
  }
}
